<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>taxiPartyList</title>
</head>
<body>
<h1>taxiPartyList</h1>
여기에 쭈욱 택시 파티 리스트 보여줘야되.
<a href="taxiPartyRegistration">파티 등록</a>
<!--<a th:href="@{/board(boardId=${board.boardId})}" th:text="${board.title}"></a>-->

<div th:each="board: ${taxiPartyBoards}">
    <h2 th:text="${board.title}">타이틀</h2>
    <ul class="list-group list-group-flush">
        <li th:text="${board.destination}">목적</li>
        <li th:text="${board.departureTime}">An item</li>
        <li th:text="${board.departureDate}">An item</li>
        <li th:text="${board.recruitmentDeadline}">An item</li>

    </ul>

    <a th:href="@{/taxiPartyBoard(boardId=${board.getId()})}">상세보기</a>

    <a href="taxiPartyRegistration"> 참여 ?</a>
</div>


</body>
</html>