body {
    margin-left: 200px;  /* 좌측 여백 설정 */
    margin-right: 200px; /* 우측 여백 설정 */
}
.container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 뷰포트 높이에 맞게 설정 */
}