<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>완료</title>
    <style>
        body {
            background-color: #f0f8ff; /* 파란색 계열의 배경색 */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .message {
            text-align: center;
            font-size: 24px;
            color: #000080; /* 더 진한 파란색 */
        }
    </style>
</head>

<body>
<div class="message">
    등록되었습니다! 감사합니다
</div></body>
</html>