<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>taxiPartyRegistrationForm</title>
</head>
<body>
토글로 표현하면 될듯한데? 택시 파티 등록 폼
<form action="taxiPartyRegistration" method="post">

    제목:<input type="text" name="title">

    내용:<input type="text" name="content">

    목적지:<input type="text" name="destination">
    집결지:<input type="text" name="meetingPoint">
    출발날:<input type="date" placeholder="yyyy-MM-dd" name="departureDate">

    출발시간:<input type="time" placeholder="HH:mm" name="departureTime">
    인원:<input type="number" name="numberOfParticipants">
    모집기한<input type="date" placeholder="yyyy-MM-dd" name="recruitmentDeadline">
    <input type="submit" value="제출">




</form>
</body>
</html>